* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background-color: #26619C ;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #F7F5FB;

}

h1 {
  padding-top: 100px; 

}

.main-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.instructions-container {
  padding: 10px 30px 0 30px;

}

.instructions-text {
  font-size: 1.2em;
  padding-bottom: 5px;

}


/* Hidden word styling  */
#hiddenWord {
  font-size: 2em;

}

/* New game button styling */
#button-start-game {
  width: 120px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #26619C;
  background: #F7F5FB;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  
}

#button-start-game:hover {
  transition: all 0.3 ease-in-out;
  border: solid 2px #F7F5FB;
  color: #F7F5FB;
  background: #26619C;
  
}


#button-try-again {
  width: 120px;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #26619C;
  background: #F7F5FB;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  
}
#button-try-again:hover {
  transition: all 0.3 ease-in-out;
  border: solid 2px #F7F5FB;
  color: #F7F5FB;
  background: #26619C;
  
}

#letter2:disabled {
  color: darkgray;
  background-color: gray;

}



 /* Keyboard styling */
.keyboard {
  max-width: 800px;

}

  .keyboard-button {
  margin: 10px 10px 0 0;
  list-style: none;
  width: 50px;
  height: 50px;
  background-color: #F7F5FB;
  color: #26619C;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  border: solid 2px #F7F5FB;

}

.keyboard-button:hover {
  background-color: #26619C;
  border: solid 2px #F7F5FB;
  color: #F7F5FB;
  
}

.keyboard-button:disabled {
  background: gray;
  border: solid 2px #F7F5FB;
  color: #F7F5FB;
  cursor: auto;
  
}

.disabled {
  background: gray;
  border: solid 2px #F7F5FB;
  color: #F7F5FB;
  cursor: auto;
  
}

.message {
  font-size: 1.2em;
  padding: 10px 0 10px 0;

}

  /* Media query */
  /* Ipad */
  @media screen and (max-width: 800px) { 
    
    .keyboard {
      max-width: 650px;
    }

    .keyboard-button {
      margin: 10px 10px 0 0;
      width: 50px;
      height: 50px;
    
    }
    
    
  }

  /* Iphone 8 */
  @media screen and (max-width: 400px) { 
    h1 {
      font-size: 1.5em;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    .instructions-container {
      padding: 10px 15px 0 15px;
    
    }
    .instructions-text {
      font-size: 1em;
    }
    #hiddenWord {
      font-size: 1.2em;
    
    }
    .keyboard-button {
      margin: 10px 10px 0 0;
      width: 40px;
      height: 40px;
    
    }
    #button-start-game {
      width: 100px;
      height: 50px;
      
    }
    #button-try-again {
      width: 100px;
      height: 40px;
      margin-bottom: 15px;
      
    }
    
    #hangman {
      max-height: 250px;
    }

  }