* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

.main-content-wrapper {
  width: 100%;
  /* background-image: url(./assets/blackboard-background.png); */
  /* background-repeat: none; */
  /* object-fit: contain; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions-container {
  background-color: #dad2d2dc;
  border: 1px solid black;
  border-radius: 3px;
  padding: 30px 30px 0 30px;
}

.instructions-text {
  font-size: 1.2em;
}

p {
  padding: 20px;
  font-size: 16px;
}

#hidden-word {
  background-color: aquamarine;
}

.keyboard {
  padding: 20px;

}

.button-new-game {
  width: 100px;
  height: 45px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

.button-new-game:hover {
  transition: all 0.3 ease-in-out;
  border: solid 1px #fff;

}

footer {
  border-top: 1px solid black;
  align-items: center;  
}


#alphabet {
  margin: 15px;
  padding: 0;
  max-width: 900px;
  text-transform: capitalize;
  text-align: center;

}

#alphabet:after {
  content: "";
  display: table;
  clear: both;

}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 50px;
  height: 50px;
  padding-top: 15px;
  background: #fff;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  border: solid 1px #fff;

}

#alphabet li:hover {
  background: #c1d72e;
  border: solid 1px #fff;
  color: #fff;

}
